<%
    let data123 = 123;

%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/static/css/style.css">
</head>
<body>

    <h1> <%=user.name%> </h1>
    <ul>
        <%cats.forEach((items) => { %>
            <li><%= items.title %></li>
            <li><%= items.comment%></li>
        <%})%>
    </ul>    
    <li><%=data123%></li>

    <%- include('body') %>
    <%- include('footer') %>
</body>
</html>